/*BEGIdN PS3 Conddtroller Styling*/
/*This class defines the base attributes of the skin*/
.controller.custom{
    /*The background image is basically the base for the controller's skin. The 
    PS3 controller's skin can be found at http://mrmcpowned.com/gamepad/ps3-assets/base.png
    and you can observe it as an example. The sticks, buttons, and directional arrows are missing
    because their appropriate elements will be incorperated when their styling is defined below.
    The entirity of the skin's visual styling is done via background images and CSS sprites. */ 
    /*background: url(https://i.imgur.com/piLLOZo.png );
    width:949px;
    height:124px;*/
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(ps3-assets/base-disconnect.png);
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}
.custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 200px;
    height: 94px;
    position: absolute;
    left: 416px;
    top:156px;
}
.custom .trigger{/* These are the actual triggers themselves */
    width:86px;
    height:65px;
    opacity: 0.6;
}
/* The left and right classes below are used to position the triggers
within the div they're contained in. Since their positions is realtive
to the size of the parent element, we simply resize the parent element 
above to achieve the desired position. */
.custom .trigger.left{
    background: url(https://i.imgur.com/pCBBOZd.png );
    float: left;
}
.custom .trigger.right{
    background: url(https://i.imgur.com/VDdr6n6.png );
    float: right;
}
/* The bumpers follow the same methodology as the triggers in terms of
placement */
.custom .bumper{
    width: 86px;
    height: 65px;
    opacity: 0.6;
}
.custom .bumpers{
    position: absolute;
    width: 200px;
    height: 94px;
    left: 0px;
    top:0px;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
  /* Call me lazy or smart, but why should I make 2 bumpers when they're symmetrical
  and I can just rotate them in the browser? Also, note that you most likely won't need
  to use a browser speficic prefix unless it's something that is indeed browser specific.
  NOTE: CLR Browser is basically chrome, so you use '-webkit-' as the browser prefix. */
    background: url(https://i.imgur.com/bIM49aG.png );
    float: left;
}
.custom .bumper.right{
    background: url(https://i.imgur.com/u6wGXiE.png );
    float: right;
}
/* This bit of code is for the player indicator, which is represented in
quandrants on the xbox controller. That's note what it's called on the
PS3 controller but it'd be pointless for me to change the HTML for 
something as pedantic as a name. */
.custom .quadrant{
    position: absolute;
    background: url(ps3-assets/player-n.png);
    height: 17px;
    width: 111px;
    top: 140px;
    left: 240px;
}
/* Since the player indicator is just a CSS sprite, we change the 
position of the background to match the player number.
NOTE: Player orderin starts at 0, so p0 = Player 1 */
.custom .p0{
    background-position: 0 -6px;
}
.custom .p1{
    background-position: 0 -28px;
}
.custom .p2{
    background-position: 0 -49px;
}
.custom .p3{
    background-position: 0 -70px;
}
/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top:156px;
    left: 230px;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back, .custom .start{
    background: url(http://gamepadviewer.com/xbox-assets-old/arrow.png );
    width: 34px;
    height: 29px;
}
.custom .back.pressed, .custom .start.pressed{
    background-position-y: -30px;
    margin-top: 2px;
}
.custom .back{
    float: left;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.custom .start{
    float: right;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 161px;
    height: 160px;
    top: 156px;
    left: 0;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:54px;
    height:54px;
    /*background: url(https://i.imgur.com/LnYZNF3.png );*/
}
.custom .button.pressed{
    background-position-y: -55px;
    margin-top: 5px;
}
.custom .a{
    background:url(http://gamepadviewer.com/xbox-assets-old/a.png );
    left: 0;
    top:44px;
}
.custom .b{
    background:url(http://gamepadviewer.com/xbox-assets-old/b.png );
    left: 59px;
    top:44px;
}
.custom .x{
    background:url(http://gamepadviewer.com/xbox-assets-old/x.png );
    left: 0px;
    top: -15px;
}
.custom .y{
    background:url(http://gamepadviewer.com/xbox-assets-old/y.png );
    left: 59px;
    top: -15px;
}
.custom .button.pressed.a {
    background-position: 0 -54px;
}

.custom .button.pressed.y {
    background-position: 0 -56px;
}
/* Analog sticks follow the same principles as the triggers in terms of positioning
Note that the rotation of the sticks in hard coded with javascript, so it applies 
the CSS inline. */
.custom .sticks{
    position: absolute;
    width: 364px;
    height: 105px;
}
.custom .stick{
    position: absolute;
    background: url(http://gamepadviewer.com/ps3-assets/thumbs.png );
    height:105px;
    width: 105px;
}
.custom .stick.pressed.left{
    background-position-x: 0;
}
.custom .stick.pressed.right{
    background-position-x: 0;
}
.custom .stick.left{
    top: 147px;
    left: -130px;
    z-index:2;
}
.custom .stick.right{
    top:147px;
    left:702px;
}
/* Dpad possitioning and sizing */
.custom .dpad {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 273px;
    left: 174px;
}

.custom .face {
    position: absolute;
    font-size: 30px;
    line-height: 0;
    color: white;
    opacity: 0;
    font-family: 'FontAwesome';
}

.custom .face.pressed {
    opacity: 1;
}

.custom .face.up {
    left: 42px;
    top: -100px;
}

.custom .face.up:after {
    content: "\f062";
}

.custom .face.down {
    left: 42px;
    top: -30px;
}

.custom .face.down:after {
    content: "\f063";
}

.custom .face.left {
    top: -66px;
    left: 3px;
}

.custom .face.left:after {
    content: "\f060";
}

.custom .face.right {
    top: -66px;
    right: 3px;
}

.custom .face.right:after {
    content: "\f061";
}
